body {
	background: #282828;
	font-family: noto-sans;
}
h1, a {
	color: #ddd;
	text-decoration: none; /* Remove underline */
}
.resource {
	color: #ddd;
	background: #444;
	padding: 0.7rem;
	margin: 0.7rem 0;
}
.dropdownButton {
	user-select: none;
	width: 1em;
	height: 1em;
	top: 50%;
}
