body {
	background: #222;
	font-family: noto-sans;
}
a {
	color: #fff
	text-decoration: none; /* Remove underline */
}
.mainTitle {
	color: #fff;
	font-size: 2rem;
	margin-top: 0rem;
	margin-bottom: 1rem;
	font-weight: bold;
}
.resource, .dropdownResource {
	color: #fff;
	background: #2D2D2D;
	padding: 0.7rem;
	margin-top: 1rem;
	display: flex;
	cursor: pointer;
}
.blog {
	background: #333;
	margin: 0.5rem;
	padding: 0.5rem;
}
.blogText{
	color: #fff;
}
.dropdownButton {
	user-select: none;
	width: 1em;
	height: 1em;
	margin-left: auto;
}
.icon {
	user-select: none;
	width: 1.5em;
	height: 1.5em;
	margin-right: 0.3em;
}
.backButton {
	user-select: none;
	width: 2rem;
	height: 2rem;
}
.backButtonDiv {
	margin-top: 0.7rem;
	margin-left: 0.3rem;
}
.dropdown {
	color: #fff;
	background: #333;
	padding: 0.7rem;
}
.link {
	text-decoration: underline;
	color: #6c04bb;
}
.warning {
	color: rgba(255, 0, 0, 0.8);
	font-weight: bold;
}
