body {
	background: #282828;
	font-family: noto-sans;
}
a {
	color: #ddd;
	text-decoration: none; /* Remove underline */
}
.mainTitle {
	color: #ddd;
	font-size: 2rem;
	margin-top: 0rem;
	margin-bottom: 1rem;
	font-weight: bold;
}
.resource, .dropdownResource {
	color: #ddd;
	background: #444;
	padding: 0.7rem;
	margin-top: 1rem;
	display: flex;
	cursor: pointer;
}
.dropdownButton {
	user-select: none;
	width: 1em;
	height: 1em;
	margin-left: auto;
}
.backButton {
	user-select: none;
	width: 2rem;
	height: 2rem;
}
.backButtonDiv {
	margin-top: 0.7rem;
	margin-left: 0.3rem;
}
.dropdown {
	color: #ddd;
	background: #555;
	padding: 0.7rem;
}
.downloadLink {
	text-decoration: underline;
	color: #6c04bb;
}
.warning {
	color: rgba(255, 0, 0, 0.8);
	font-weight: bold;
}
